.page-indicator {
  width: 100%;
}

.text-black {
  color: black;
}

.customized-modal {
	position: absolute;
	z-index: 99999;
	margin-right: center;
	left: 0;
	right: 0;
	top: 20vh;
	bottom: 0;
	margin: auto;
}

.buttons-flexbar {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .buttons-flexbar {
    display:block;
    clear:both;
  }

	.fixed-width {
		width: 100%!important;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.fixed-width {
  width: 300px;
	font-size: 15px;
}
