.centered-col {
  text-align: center;
}

#current-locations, #language-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#language-container {
  margin-bottom: 15px;
  margin-top: 35px;
}

.big {
  font-size: 23px;
}

.location {
  margin: 2px 4px;
  text-transform: uppercase;
  color: #444;
}

.map-icon {
  margin-right: 3px;
  color: white;
}

.centered-title {
  text-align: center;
}

.red-title {
	color: var(--red);
	font-weight: bold;
	font-size: 50px;
}

.subtitle {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.red {
  color: var(--red);
}

strong {
  color: var(--red);
}

.apply-button {
	border-radius: 30px;
	padding: 10px 24px;
	background-color: #df0101;
	border-color: #df0101;
	text-transform: uppercase;
	font-weight: 500;
  color: white!important;
}

.button-toolbar {
	display: flex;
	justify-content: space-around;
	margin: 10px 0px;
}

a {
  color: var(--red);
}

a:hover {
  color: var(--red);
}

a:visited {
  color: var(--red);
}
