.form-check-label {
  padding-left: 10px;
}

.form-check {
  margin: 7px;
}

.words-counter {
	text-align: right;
	margin-top: 3px;
	color: #808080;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

/* Customize the label (the custom-checkbox) */
.custom-checkbox {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* Hide the browser's default radio button */
.custom-checkbox input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

/* Create a custom radio button */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 background-color: #eee;
 border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
 background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
 background-color: var(--red);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-checkbox input:checked ~ .checkmark:after {
 display: block;
}

/* Style the indicator (dot/circle) */
.custom-checkbox .checkmark:after {
 top: 9px;
 left: 9px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: white;
}

.red {
	color: var(--red);
}
