.form-check-label {
  padding-left: 10px;
}

.form-check {
  margin: 7px;
}

.words-counter {
	text-align: right;
	margin-top: 3px;
	color: #808080;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}
