.status-color {
  margin-right: 10px;
}

li.step-element.rejected::before {
  border-color: red;
  color: red;
  content: "\2715";
}

li.step-element.validated::before {
  border-color: green;
  color: green;
  content: "\2713";
}

li.step-element.todo::before {

}

li.step-element.pending::before {
  color: orange;
  border-color: orange;
  content: "...";
}

li.step-element {
  counter-increment: step-counter;
  margin: 30px 0px;
}

.step-element span {
	font-size: 20px;
	padding-left: 18px;
	vertical-align: super;
}

li.step-element::before {
	content: counter(step-counter);
	margin-right: 5px;
	font-size: 35px;
	/* background-color: teal; */
	color: teal;
	padding: 8px 19px;
	border-radius: 100%;
	border: 2px solid teal;
	width: 70px;
	display: inline-block;
	height: 70px;
	text-align: center;
}

.steps-list {
  list-style: none;
  width: max-content;
  margin: auto;
}

.warning-box {
	border: 2px solid #ff454a;
	box-shadow: 0px 3px 4px #ff8a8a;
	padding: 7px;
  text-align:center;
}

.edit-button {
	font-size: 25px;
	margin-right: 9px;
}

h2 {
  text-align: center;
}
