.status-color {
  margin-right: 10px;
}

.rejected .step-explanation {
  border-color: red;
  color: red;
}

.pending .step-explanation {
  color: orange;
  border-color: orange;
}

.validated .step-explanation {
  border-color: green;
  color: green;
}

.step-explanation {
	font-size: 15px !important;
	font-style: italic;
}

.warning-box {
	border: 2px solid #ff454a;
	box-shadow: 0px 3px 4px #ff8a8a;
	padding: 7px;
  text-align:center;
  margin: 8px;
}

.edit-button {
	font-size: 40px;
	margin-right: 9px;
  float:right;
}

.status-icon {
  font-size: 15px;
  margin-right: 8px;
}

h2 {
  text-align: center;
}

.results-box {
  border: 2px solid gray;
  padding: 8px;
  margin: 9px;
  font-size: 20px;
  text-align: center;
  background-color: #ededed;
}

.results-box.rejected {
  border-color: red;
  background-color: red;
}

.results-box.accepted {
  border-color: green;
  background-color: #a3ffa3;
}

.step-card.card {
	margin: 20px 5px;
	display: flex;
	flex-flow: row;
}

.answer-button {
	line-height: 50px;
  margin-bottom: 50%;
	margin: auto 10px;
}

.step-nb {
	color: red;
	font-weight: bold;
	text-transform: uppercase;
}

.card:hover .edit-button {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
	color: red;
}

.button-toolbar {
	display: flex;
	justify-content: space-around;
}
