p Hi #{name},
p We are sorry do announce you that unfortunately your application to #{campaignName} has been rejected.
p You can write what you want Aggelina!
p Social Hackers Academy
img(src='https://joinus.socialhackersacademy.org/static-applicant/static/media/logo.188296da.jpg' alt='logo Social Hackers Academy' style='height:100px;')
