p Hi #{name},
p We are sorry do announce you that unfortunately your application to #{campaignName} has been rejected.
| A member of our team will contact you to explain to you the reasons that you got rejected and give you feedback on your application and how you can improve it!
| In any case, you can apply to next classes, that will be launched soon in our Academy. Check your e-mails often!
br
br
p
  | See you soon in Social Hackers Academy!
  br
  i Social Hackers Academy Team
  br
  img(src='https://joinus.socialhackersacademy.org/static-applicant/static/media/logo.188296da.jpg', alt='logo Social Hackers Academy', style='height:100px;')
