p Hi #{name},
p You can now use the following password #{password} to continue your application process for #{campaignName}. The link is the same for everytime  you want to log in 
  a(href='https://joinus.socialhackersacademy.org/login') joinus.socialhackersacademy.org
  | . You have to complete everything before the deadline #{deadline}.
p If you have any question, you can contact us to this email address or go directly into our office (Anaxagora 3-5, Romantso (Office 204), Athens 105 52).
p
  | See you soon in Social Hackers Academy!
  br
  i Social Hackers Academy Team
  br
  img(src='https://joinus.socialhackersacademy.org/static-applicant/static/media/logo.188296da.jpg', alt='logo Social Hackers Academy', style='height:100px;')
