p Hi #{name},
p We checked your answers for the step #{stepName} for the application process in #{campaignName} and we are sorry to tell you that your answers are not enough.
  |  A member from our team will get back to you shortly to give you feedback!
p If you have any question, you can contact us to this email address or go directly into our office (Anaxagora 3-5, Romantso (Office 204), Athens 105 52)
p
  | See you soon in Social Hackers Academy!
  br
  i Social Hackers Academy Team
  br
  img(src='https://joinus.socialhackersacademy.org/static-applicant/static/media/logo.188296da.jpg', alt='logo Social Hackers Academy', style='height:100px;')
