p Hi #{name},
p This emails informs you that we analysed your answers for the step #{stepName} for the application process in #{campaignName}. You can now move on the other steps!
p If you have any question, you can contact us to this email address or go directly into our office (Anaxagora 3-5, Romantso (Office 204), Athens 105 52)
p See you soon in Social Hackers Academy!
p Social Hackers Academy Team
img(src='https://joinus.socialhackersacademy.org/static-applicant/static/media/logo.188296da.jpg' alt='logo Social Hackers Academy' style='height:100px;')
