// pug template for sending emails after application
// test online with https://pughtml.com
p Hi #{name},
p We are glad to announce you that you will be a member of #{campaignName}!
p Class starts on (insert date & time)! Be there, on time!
p If you have any question, you can contact us to this email address or go directly into our office (Anaxagora 3-5, Romantso (Office 204), Athens 105 52)
p See you soon in Social Hackers Academy Next Class!
p Social Hackers Academy
img(src='https://joinus.socialhackersacademy.org/static-applicant/static/media/logo.188296da.jpg' alt='logo Social Hackers Academy' style='height:100px;')
